<launch>
	<node pkg="pimouse_ros" name="buzzer" type="buzzer.py" required="true" output="screen" />
	<node pkg="pimouse_ros" name="lightsensors" type="lightsensors.py" required="true" output="screen" />
	<node pkg="pimouse_ros" name="switchs" type="switchs.py" required="true" output="screen" />
	<node pkg="pimouse_ros" name="motors" type="motors.py" required="true" output="screen" />
</launch>
